@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: phililta;
  src: url('assets/fonts/PhiliItaRus.woff');
}

@font-face {
  font-family: notcouriersansbold;
  src: url('assets/fonts/NotCourierSans-Bold.woff');
}


body {
  background-image: url("assets/paperbackground.jpg");
  background-size: fill;
  width: 100vw;
  height: 100vh;
}

.runner {
  @apply absolute w-[60vw] md:w-[40vh] max-w-[600px] h-auto pt-6;
}

.tiny-runner {
  @apply absolute w-[30vw] md:w-[20vh] max-w-[300px] h-auto pt-6;
}

h1 {
  font-family: phililta, 'Courier New', Courier, monospace;
}

h2 {
  font-family: notcouriersansbold, 'Courier New', Courier, monospace;
}
